<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <title>Socket Tester</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
  </head>
  <body>
    <h2><%= hello %></h2>
    <p><%= version %></p>
    <script src="/public/js/index.js"></script>
  </body>
</html>
