@import "../../../node_modules/uikit/src/less/uikit.theme.less";
@bgRed: 255;
@bgGreen: 255;
@bgBlue: 255;
@bgAlpha: 0;

.sticky-bar {
    background: rgba(@bgRed, @bgGreen, @bgBlue, @bgAlpha);
    background: linear-gradient(to top, rgba(@bgRed, @bgGreen, @bgBlue, @bgAlpha),rgba(@bgRed, @bgGreen, @bgBlue, 1));
    margin-bottom: 5px;
}

.sidebar-left {
    position: fixed;
    top: 80px;
    bottom: 0;
    box-sizing: border-box;
    width: 240px !important;
    padding: 40px 40px 60px 40px;
}

.uk-card {
    -webkit-transition: background 1.5s;
    transition: background 1.5s;
}

.content-right {
    padding-left: 240px;

    @media (max-width: 959px) {
        padding-left: 0;
    }
}